html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.first-illustration-grain {
  float: left;
  width: 7%;
  padding-top: 0.5em;
}

.second-illustration-grain {
  float: right;
  width: 7%;
  padding-top: 0.5em;
}

.grain-in-bags {
  float: left;
  width: 40%;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 0.5em;
  border: 1px solid #cccccc;
}

.cereals {
  clear: both;
  float: right;
  width: 50%;
  margin-left: 15px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;

}

.quinoa {
  float: right;
  width: 50%;
  margin-left: 15px;
  margin-bottom: 15px;
  border: 1px solid #cccccc
}

.p2 {
  clear: left;
  margin-left: 0.5em;
}

body {
  margin: 0;

}
header {
  background-color: #d05c2e;
  color: white;
  overflow: hidden;
}

h1 {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0.5em;
  border: 1px solid #a93f35;
  display: block;
}

nav li {
  float: left;
  width: 33.3333%;
  display: block;
}

nav ol {
    text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

ol li {
  display: inline-block;
}

h1 {
  margin: 0;
}

div {
  text-align: center;
  background-color: #dc8252;
  color: white;
  clear: both;
  overflow: hidden;
}

.famous {
  padding-top: 0.5em;
  margin-top: 0;
}

nav a:hover {
  background-color: #a93f35;
}

figure{
  margin: 0;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  padding-bottom: 1em;
}

.2 {
  width: 50%;
  float: left;
}

.3 {
  float: right;
  width: 50%;
}

h2 {
  text-align: center;
}

.peanuts {
  float: left;
  width: 30%;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 1px solid #cccccc;
}

.beans {
  clear: left;
  float: left;
  width: 30%;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 1px solid #cccccc;
}

.lentils {
  clear: left;
  float: left;
  width: 30%;
  margin-right: 1em;
  margin-bottom: 1.5em;
  border: 1px solid #cccccc;
}

footer {
  clear: both;
  text-align: center;
  color: white;
  background-color: #d05c2e;
  padding: 1em;
}

ul li {
  clear: both;
  margin-left: 0.5em;
}

ul {
  padding: 0;
}

.rice {
  float: left;
  width: 50%;
  margin: 0;
}

.oats {
  float: right;
  width: 50%;
  margin: 0;
}

.rice-caption {
  color: white;
  text-align: center;
  padding: 0.5em;
  font-style: italic;
  margin: 0;
  float: left;
  width: 50%;
  overflow: hidden;
}

.oats-caption {
  color: white;
  text-align: center;
  padding: 0.5em;
  font-style: italic;
  margin: 0;
  float: left;
  width: 50%;
  overflow: hidden;
}
