html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.first-illustration-grain {
  float: left;
width: 10%;
}

.second-illustration-grain {
  float: right;
  width: 10%;
}

.grain-in-bags {
  float: left;
  width: 40%;
  margin-right: 15px;
  margin-bottom: 15px;
}

.cereals {
  float: right;
  width: 50%;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.quinoa {
  float: right;
  width: 50%;
  margin-left: 15px;
}

.p2 {
  clear: left;
}

body {
  margin: 0;

}
header {
  background-color: #d05c2e;
  color: white;
}

h1 {
  text-align: center;
}

li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 0.25em;
  padding: 0.5em;
  border-top: 2px solid #a93f35;
  display: block;
}

ol li {
  display: inline-block;
}

h1 {
  margin: 0;
}

div {
  text-align: center;
  background-color: #dc8252;
  color: white;
}

nav a:hover {
  background-color: #a93f35;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
}

.rice{
  float: left;
  width: 50%;
}

.rice-caption{
  clear: left;
}

.oats {
  float: right;
  width: 50%;
}

.oats-caption {
  clear: right;
}
